<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Showfollow #<%= @showfollow.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/showfollows" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_showfollow/<%= @showfollow.id %>" class="btn btn-block btn-outline-secondary">
          Delete showfollow
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Show
      </dt>
      <dd>
        <%= @showfollow.show_id %>
      </dd>

      <dt>
        Attendee
      </dt>
      <dd>
        <%= @showfollow.attendee_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@showfollow.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@showfollow.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit showfollow
    </h2>

    <form action="/modify_showfollow/<%= @showfollow.id %>"  method="post" >
      <div class="form-group">
        <label for="show_id_box">
          Show
        </label>

        <input type="text" id="show_id_box" name="query_show_id" class="form-control" value="<%= @showfollow.show_id %>">
      </div>

      <div class="form-group">
        <label for="attendee_id_box">
          Attendee
        </label>

        <input type="text" id="attendee_id_box" name="query_attendee_id" class="form-control" value="<%= @showfollow.attendee_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update showfollow
      </button>
    </form>
  </div>
</div>

<hr>
